# OSX #
#######
.DS_Store?
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lo
*.la

# Xcode files #
###############
*.pbxuser
*.mode1v3
xcuserdata

# Specifics #
#############
Docs/output/
*.TrashIgnoredByCleanMyMac

git-completion.bash
