<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CleanOutputFilesBeforeBuild</key>
	<false/>
	<key>CleanTemporaryFilesAfterBuild</key>
	<true/>
	<key>CreateDocSet</key>
	<true/>
	<key>DocSetBundleFeed</key>
	<string>Pixelwave Documentation</string>
	<key>DocSetBundleID</key>
	<string>com.spiralstorm.Pixelwave.docset</string>
	<key>DocSetInstallPath</key>
	<string>../output</string>
	<key>DocSetSourcePlist</key>
	<string>appledocTemplate/info.plist</string>
	<key>DoxygenCommandLine</key>
	<string>/Applications/Doxygen.app/Contents/Resources/doxygen</string>
	<key>DoxygenConfigFile</key>
	<string>Doxyfile</string>
	<key>XHTMLUseBorderedExamples</key>
	<true/>
</dict>
</plist>
